h1 {
  font-family: pauline-script,sans-serif;
  font-weight: 300;
  font-style: normal;
}
p, li {
  color: blue;
  font-family: le-monde-livre-classic-byol, serif;
  font-weight: 300;
  font-style: normal;
}
